<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
           http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>ConnectionValidator</servlet-name>
        <servlet-class>org.jboss.example.ConnectionValidator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SlowQuery</servlet-name>
        <servlet-class>org.jboss.example.SlowQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>org.jboss.example.AddBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConnectionValidator</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SlowQuery</servlet-name>
        <url-pattern>/slow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <!--
    <resource-ref>
        <description>PostgreSQL Datasource</description>
        <res-ref-name>jdbc/SampleDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <lookup-name>java:comp/env/jdbc/PostgresDS</lookup-name>
    </resource-ref>
    -->
</web-app>
